{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    
    <div class="container">

        {% if error_statement %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h4>{{ error_statement }}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
        
        <h1>Subscribe to My Newsletter...</h1>
        <br/><br/>
        <form action="/form" method='POST'>
            <div class="mb-3">
                <label for="exampleInputText1" class="form-label">First Name</label>
                <input type="text" class="form-control" id="exampleInputText1" aria-describedby="emailHelp" placeholder="John" name="first_name" value="{{ first_name }}">
                
            </div>
            <div class="mb-3">
                <label for="exampleInputText2" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="exampleInputText2" aria-describedby="emailHelp"placeholder="Doe" name="last_name" value="{{ last_name }}">
                
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="john.doe@example.com" name="email" value="{{ email }}">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

{% endblock %}